#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#form {
  margin-bottom: 30px;
  border: 1px solid #ccc;
  padding: 15px;
}

#input {
  margin-right: 10px;
  padding: 5px;
}

.buttomnewstyle {
  padding: '5px 10px';
}
#tablestyle {
  width: 100%;
  border-collapse: collapse;
}



.tableHeaderStyle {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f0f0f0;
}

.tableCellStyle {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.noUsersCellStyle {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.saveButtonStyle {
  padding: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.cancelButtonStyle {
  padding: 5px;
  background-color: #9E9E9E;
  color: white;
  border: none;
  cursor: pointer;
}

.editButtonStyle {
  padding: 5px;
  background-color: #2196F3;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.deleteButtonStyle {
  padding: 5px;
  background-color: #F44336;
  color: white;
  border: none;
  cursor: pointer;
}
